[Unit]
Description=Bluetooth for BCM43xx
Before=bluetooth.service
Requires=dev-serial1.device
After=dev-serial1.device
ConditionFileNotEmpty=/proc/device-tree/soc/gpio@7e200000/bt_pins/brcm,pins

[Service]
Type=forking
ExecStart=/usr/bin/btuart

[Install]
WantedBy=hassos-hardware.target
