[Unit]
Description=Bluetooth for BCM43xx
Before=bluetooth.service
After=dev-ttyAMA0.device
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins

[Service]
Type=forking
ExecStart=/usr/bin/btattach -B /dev/ttyAMA0 -P bcm -S 921600 -N

[Install]
WantedBy=hassos-hardware.target
