rauc {
	key = "/build/key.pem"
	cert = "/build/cert.pem"
	# intermediate can be removed after May 14th 2028, along with old CAs from the keyrings
	intermediate = "${BR2_EXTERNAL_HAOS_PATH}/ota/rel-ca-xsign-oldroot.cert.pem"
	keyring = "${TARGET_DIR}/etc/rauc/keyring.pem"
	manifest = "${RAUC_MANIFEST:-PLEASE_SPECIFY_RAUC_MANIFEST}"
	file hook { image = "${BR2_EXTERNAL_HAOS_PATH}/ota/rauc-hook" }
	file boot.vfat { image = "boot.vfat" }
	file kernel.img { image = "kernel.img" }
	file rootfs.img { image = ${SYSTEM_IMAGE} }
}
