[Unit]
Description=Write MAC address to bootenv from efuse
Before=network.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/hardkernel-fixmac

[Install]
WantedBy=hassos-hardware.target
