[Unit]
Description=Xorg server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/Xorg :0.0 vt01 -s 0 -noreset -allowMouseOpenFail
Restart=always

[Install]
WantedBy=graphical.target
