[Unit]
Description=acpid (busybox)
RefuseManualStop=true
ConditionPathIsDirectory=/proc/acpi

[Service]
Type=simple
ExecStart=/sbin/acpid -d

[Install]
After=local-fs.target
WantedBy=multi-user.target
