[Unit]
Description=Docker persistent configuration
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=docker.service

[Mount]
What=/mnt/overlay/etc/docker
Where=/etc/docker
Type=none
Options=bind

[Install]
WantedBy=hassos-bind.target
