[Unit]
Description=Dropbear persistent keys
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=dropbear.service

[Mount]
What=/mnt/overlay/etc/dropbear
Where=/etc/dropbear
Type=none
Options=bind

[Install]
WantedBy=hassos-bind.target
