[Unit]
Description=Systemd persistent machine-id
DefaultDependencies=no
Requires=mnt-overlay.mount systemd-machine-id-commit.service
After=mnt-overlay.mount
Before=umount.target systemd-machine-id-commit.service
Conflicts=umount.target

[Mount]
What=/mnt/overlay/etc/machine-id
Where=/etc/machine-id
Type=None
Options=bind

[Install]
WantedBy=hassio-bind.target
