[Unit]
Description=NetworkManager persistent system connections
Requires=mnt-overlay.mount
After=mnt-overlay.mount haos-overlay.service
Before=NetworkManager.service haos-config.service

[Mount]
What=/mnt/overlay/etc/NetworkManager/system-connections
Where=/etc/NetworkManager/system-connections
Type=None
Options=bind

[Install]
WantedBy=haos-bind.target
