[Unit]
Description=HAOS persists data on bootstate
After=sysinit.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-persists
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
