[Unit]
Description=HAOS data disk detach
DefaultDependencies=no
Before=mnt-data.mount
RefuseManualStart=true
RefuseManualStop=true
Requires=dev-disk-by\x2dlabel-hassos\x2ddata.device
After=dev-disk-by\x2dlabel-hassos\x2ddata.device systemd-fsck@dev-disk-by\x2dlabel-hassos\x2ddata.service
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-data-disk-detach

[Install]
WantedBy=local-fs.target
