[Unit]
Description=HAOS overlay setup 
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Before=haos-bind.target
After=mnt-overlay.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-overlay
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
