[Unit]
Description=Hassio rauc
Requires=hassio-supervisor.service
After=rauc.service hassio-supervisor.service
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/bin/rauc status mark-good
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
