[Unit]
Description=HassOS AppArmor
Wants=hassos-supervisor.service network-online.target time-sync.target
After=network-online.target time-sync.target
Before=docker.service hassos-supervisor.service
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/hassos-apparmor

[Install]
WantedBy=multi-user.target
