[Unit]
Description=HassOS data resizing
DefaultDependencies=no
Before=mnt-data.mount
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/sbin/hassos-expand
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
