[Unit]
Description=Hassio data resizing
DefaultDependencies=no
Before=mnt-data.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassio-expand
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
