[Unit]
Description=HassOS data resizing
DefaultDependencies=no
Before=mnt-data.mount
RefuseManualStart=true
RefuseManualStop=true
Requires=dev-disk-by\x2dlabel-hassos\x2ddata.device
After=dev-disk-by\x2dlabel-hassos\x2ddata.device systemd-fsck@dev-disk-by\x2dlabel-hassos\x2ddata.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/hassos-expand

[Install]
WantedBy=local-fs.target
