[Unit]
Description=HassOS data resizing
DefaultDependencies=no
Before=mnt-data.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassos-expand
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
