[Unit]
Description=Hassio Configuration Manager
After=hassio-bind.target network.target

[Service]
Type=oneshot
ExecStart=/sbin/hassio-config

[Install]
WantedBy=multi-user.target
