[Unit]
Description=HassOS overlay partition
DefaultDependencies=no
Before=umount.target local-fs.target
Conflicts=umount.target
After=systemd-fsck@dev-disk-by\x2dlabel-hassos\x2doverlay.service
Wants=systemd-fsck@dev-disk-by\x2dlabel-hassos\x2doverlay.service

[Mount]
What=/dev/disk/by-label/hassos-overlay
Where=/mnt/overlay
Type=ext4

[Install]
WantedBy=local-fs.target
