[Unit]
Description=HassOS bootstate partition
DefaultDependencies=no
Before=umount.target
After=local-fs.target rauc.service
Conflicts=umount.target

[Mount]
What=LABEL=hassos-bootstate
Where=/mnt/state
Type=ext2

[Install]
WantedBy=local-fs.target
