[Unit]
Description=HassOS overlay partition
DefaultDependencies=no
Before=umount.target systemd-tmpfiles-setup.service
Conflicts=umount.target

[Mount]
What=LABEL=hassos-overlay
Where=/mnt/overlay
Type=ext4

[Install]
WantedBy=multi-user.target
