[Unit]
Description=HassOS rauc good 
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/sbin/hassos-rate
RemainAfterExit=true
