[Unit]
Description=Dropbear persistent user
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=dropbear.service hassos-config.service

[Mount]
What=/mnt/overlay/root/.ssh
Where=/root/.ssh
Type=None
Options=bind

[Install]
WantedBy=hassos-bind.target
