[Unit]
Description=Docker persistent user
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=docker.service

[Mount]
What=/mnt/overlay/root/.docker
Where=/root/.docker
Type=None
Options=bind

[Install]
WantedBy=hassos-bind.target
