[Unit]
Description=DHCP persistent data
Requires=mnt-data.mount
After=mnt-data.mount
Before=NetworkManager.service

[Mount]
What=/mnt/overlay/var/lib/dhcp
Where=/var/lib/dhcp
Type=none
Options=bind

[Install]
WantedBy=hassos-bind.target
