[Unit]
Description=Systemd persistent logging
DefaultDependencies=no
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=umount.target systemd-journal-flush.service
Conflicts=umount.target

[Mount]
What=/mnt/overlay/var/log/journal
Where=/var/log/journal
Type=None
Options=bind

[Install]
WantedBy=hassio-bind.target
