[Unit]
Description=Systemd persistent logging
Requires=mnt-overlay.mount
After=mnt-overlay.mount
Before=systemd-journal-flush.service

[Mount]
What=/mnt/overlay/var/log/journal
Where=/var/log/journal
Type=None
Options=bind

[Install]
WantedBy=hassio-bind.target
