[Unit]
Description=Docker persistent data
Requires=mnt-data.mount systemd-tmpfiles-setup.service
After=mnt-data.mount systemd-tmpfiles-setup.service
Before=docker.service

[Mount]
What=/mnt/data/docker
Where=/var/lib/docker
Type=none
Options=bind

[Install]
WantedBy=hassio-bind.target
