[Unit]
Description=Hassio ZRAM var
DefaultDependencies=no
Requires=zram-var.service
After=zram-var.service
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/zram2
Where=/var
Type=ext4

[Install]
WantedBy=local-fs.target
