[Unit]
Description=Hassio ZRAM run
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t fs -m run -s 16M
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
