[Unit]
Description=Hassio ZRAM run

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t sf -m run -s 16M
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
