[Unit]
Description=Hassio ZRAM var
Before=var.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t sf -m var -s 32M
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
