[Unit]
Description=Hassio ZRAM tmp
Before=tmp.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t sf -m tmp -s 16M
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
