[Unit]
Description=HassOS ZRAM swap
DefaultDependencies=no
Before=dev-zram0.swap

[Service]
Type=oneshot
ExecStart=/usr/sbin/hassos-zram -t swap
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=hassos-zram.target
