[Unit]
Description=Hassio ZRAM swap
Before=dev-zram0.swap

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t swap
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
