[Unit]
Description=HAOS ZRAM tmp
DefaultDependencies=no
Before=tmp.mount
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/haos-zram -t fs -m tmp -s 16M
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=haos-zram.target
