[Unit]
Description=Hassio ZRAM
DefaultDependencies=no
Before=dev-zram0.swap

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t swap
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=hassio-zram.target
