[Unit]
Description=Hassio ZRAM tmp
DefaultDependencies=no
Before=tmp.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t fs -m tmp -s 16M
RemainAfterExit=true

[Install]
WantedBy=hassio-zram.target
