[Unit]
Description=Hassio ZRAM var
DefaultDependencies=no
Before=var.mount

[Service]
Type=oneshot
ExecStart=/sbin/hassio-zram -t fs -m var -s 32M
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=hassio-zram.target
