CONFIG_IGB=y
CONFIG_I40E=m
CONFIG_IGC=m

CONFIG_NET_VENDOR_AQUANTIA=y
CONFIG_AQTION=m

CONFIG_NET_VENDOR_ATHEROS=y
CONFIG_ATL2=m
CONFIG_ATL1=m
CONFIG_ATL1C=m
CONFIG_ATL1E=m
CONFIG_ALX=m

CONFIG_NET_VENDOR_BROADCOM=y
CONFIG_B44=m
CONFIG_BCMGENET=m
CONFIG_BNX2=m
CONFIG_TIGON3=m
CONFIG_BNX2X=m
CONFIG_BNXT=m

CONFIG_BROADCOM_PHY=m

CONFIG_NET_VENDOR_STMICRO=y
CONFIG_STMMAC_ETH=m
CONFIG_STMMAC_PCI=m

CONFIG_MEDIA_PCI_SUPPORT=y

# PCI sound drivers
CONFIG_SND_PCI=y
CONFIG_SND_HDA_GENERIC=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_ANALOG=m
CONFIG_SND_HDA_CODEC_VIA=m
CONFIG_SND_HDA_CODEC_HDMI=m

# NVMe SSD support
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
