CONFIG_SURFACE_AGGREGATOR=y
CONFIG_SURFACE_AGGREGATOR_BUS=y
CONFIG_SURFACE_AGGREGATOR_CDEV=y
CONFIG_SURFACE_BUTTON=y
CONFIG_SURFACE_HOTPLUG=y
CONFIG_SURFACE_TYPECOVER=y
CONFIG_HID_MULTITOUCH=y
CONFIG_I2C_HID=y
CONFIG_I2C_HID_ACPI=y

CONFIG_INTEL_IPTS=m
CONFIG_INTEL_ITHC=m
CONFIG_VIDEO_IPU3_CIO2=m
CONFIG_VIDEO_IPU3_IMGU=m
