# This fragment contains configuration options for all platforms that
# should support WiFi connectivity over USB or SDIO. It does not contain
# drivers for PCI or PCIe devices - those need also inclusion of
# device-support-wireless-pci.config fragment.

# Atheros drivers
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH10K=m
CONFIG_ATH10K_SDIO=m
CONFIG_ATH10K_USB=m
CONFIG_ATH6KL=m
CONFIG_ATH6KL_SDIO=m
CONFIG_ATH6KL_USB=m
CONFIG_ATH9K=m
CONFIG_ATH9K_HTC=m
CONFIG_CARL9170=m

# Broadcom drivers
CONFIG_WLAN_VENDOR_BROADCOM=y
CONFIG_B43=m
CONFIG_B43_PHY_G=y
CONFIG_B43_PHY_N=y
CONFIG_B43_PHY_LP=y
CONFIG_B43_PHY_HT=y
CONFIG_BRCMSMAC=m
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_USB=y

# Intel drivers
# Note: enabling it here but Intel drivers are currently exclusively PCI
CONFIG_WLAN_VENDOR_INTEL=y

# Marvell drivers
CONFIG_WLAN_VENDOR_MARVELL=y
CONFIG_MWIFIEX=m
CONFIG_MWIFIEX_SDIO=m
CONFIG_MWIFIEX_USB=m

# Mediatek drivers
CONFIG_WLAN_VENDOR_MEDIATEK=y
CONFIG_MT7601U=m
CONFIG_MT7663U=m
CONFIG_MT7663S=m
CONFIG_MT76x0E=m
CONFIG_MT76x0U=m
CONFIG_MT76x2U=m
CONFIG_MT76x2E=m
CONFIG_MT7921S=m
CONFIG_MT7921U=m

# Ralink drivers
CONFIG_WLAN_VENDOR_RALINK=y
CONFIG_RT2500USB=m
CONFIG_RT73USB=m
CONFIG_RT2800USB=m
CONFIG_RT2800USB_RT3573=y
CONFIG_RT2800USB_RT53XX=y
CONFIG_RT2800USB_RT55XX=y
CONFIG_RT2800USB_UNKNOWN=y
CONFIG_RT2X00=m

# Realtek drivers
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_RTL8XXXU=m
CONFIG_RTL8192CU=m
CONFIG_RTL_CARDS=m
CONFIG_RTW88=m
CONFIG_RTW89=m

# Staging drivers
CONFIG_STAGING=y
CONFIG_RTL8723BS=m
CONFIG_R8188EU=m
