CONFIG_KERNEL_LZ4=y
CONFIG_CMDLINE=""
CONFIG_PANIC_TIMEOUT=5

CONFIG_ZRAM=y
CONFIG_ZSMALLOC=y

CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

CONFIG_MISC_FILESYSTEMS=y
CONFIG_BLOCK=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y

# CONFIG_SECCOMP is not set
CONFIG_AUDIT=y
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y

CONFIG_CRYPTO=y
CONFIG_CRYPTO_LZ4=y

CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_MSDOS_PARTITION=y

# CONFIG_LOGO is not set
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_BTRFS_FS is not set

CONFIG_TUN=y
CONFIG_VLAN_8021Q=m
CONFIG_VLAN_8021Q_GVRP=y
CONFIG_VLAN_8021Q_MVRP=y

CONFIG_WIRELESS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
# CONFIG_CFG80211_CRDA_SUPPORT is not set

CONFIG_CIFS=m
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DFS_UPCALL=y

CONFIG_WIREGUARD=m

CONFIG_HID=m
CONFIG_HIDRAW=y
