# AMDGPU support
# $ diff --unchanged-line-format= --old-line-format= --new-line-format='%L' .config_rpi .config_amd
CONFIG_ARM64_ALIGNMENT_FIXUPS=y
CONFIG_MMU_NOTIFIER=y
CONFIG_HMM_MIRROR=y
CONFIG_DRM_ARCH_CAN_WC=y
CONFIG_DRM_DISPLAY_DP_HELPER=y
CONFIG_DRM_DISPLAY_HDCP_HELPER=y
CONFIG_DRM_EXEC=m
CONFIG_DRM_BUDDY=m
CONFIG_DRM_SUBALLOC_HELPER=m
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_AMDGPU_USERPTR=y
CONFIG_DRM_AMD_DC=y
CONFIG_DRM_AMD_DC_FP=y
CONFIG_HSA_AMD=y
CONFIG_INTERVAL_TREE=y
