[Unit]
Description=HassOS File swap for JetHome
DefaultDependencies=no
Requires=hassos-expand.service mnt-data.mount systemd-growfs@mnt-data.service
After=hassos-expand.service mnt-data.mount systemd-growfs@mnt-data.service
Wants=systemd-fsck@dev-disk-by\x2dlabel-hassos\x2ddata.service
#RefuseManualStart=true
#RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/lib/jethome/swap_file_maker
TimeoutStartSec=15min
RemainAfterExit=true
#StandardOutput=null

[Install]
WantedBy=hassos-zram.target
