CONFIG_EFI_STUB=y

CONFIG_SCSI_LOWLEVEL=y
CONFIG_USB_XHCI_HCD=y

CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

CONFIG_IGB=y

CONFIG_IWLWIFI=m
CONFIG_IWLMVM=m

CONFIG_DRM_I915=m
CONFIG_DRM_I915_CAPTURE_ERROR=y
CONFIG_DRM_I915_COMPRESS_ERROR=y
CONFIG_DRM_I915_USERPTR=y

CONFIG_SND_HDA=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_I915=y
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=1
