# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_PROMPT="hassio-os:"
CONFIG_CONSOLE_SIMPLE=y
CONFIG_PARTITION=y
CONFIG_DEFAULT_COMPRESSION_LZ4=y
CONFIG_STATE=y
CONFIG_BOOTCHOOSER=y
CONFIG_CLOCKSOURCE_EFI=y
CONFIG_FS_EXT4=y
# CONFIG_FS_RAMFS is not set
CONFIG_FS_FAT=y
CONFIG_FS_SQUASHFS=y
CONFIG_ZLIB=y
CONFIG_LZ4_DECOMPRESS=y
