/dts-v1/;
/ {
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		state = &state_sd;
	};

	backend_state_sd: bootstate@0x111000 {
		reg = <0x111000 0x418>;
		label = "state-sd";
	};

	state_sd: state_memory {
                magic = <0xef784236>;
                compatible = "barebox,state";
                backend-type = "raw";
                backend = <&backend_state_sd>;
                backend-stridesize = <1024>;

		bootstate {
			#address-cells = <1>;
			#size-cells = <1>;

			system0 {
				#address-cells = <1>;
				#size-cells = <1>;
				remaining_attempts@0 {
					reg = <0x0 0x4>;
					type = "uint32";
					default = <3>;
				};
				priority@4 {
					reg = <0x4 0x4>;
					type = "uint32";
					default = <10>;
				};
			};
			system1 {
				#address-cells = <1>;
				#size-cells = <1>;
				remaining_attempts@8 {
					reg = <0x8 0x4>;
					type = "uint32";
					default = <3>;
				};
				priority@c {
					reg = <0xc 0x4>;
					type = "uint32";
					default = <20>;
				};
			};
			last_chosen@10 {
				reg = <0x10 0x4>;
				type = "uint32";
			};
		};
	};
};

