image boot.vfat {
  vfat {
    files = {
      "bzImage"
    }
    
    file EFI/BOOT/BOOTx64.EFI {
      image = "barebox.bin"
    }
  }
  size = 32M
}

image overlay.ext4 {
  ext4 {
    label = "overlay"
  }
  size = 64M
}

image data.ext4 {
  ext4 {
    label = "data"
  }
  size = 128M
}

image sdcard.img {
  hdimage {
  }

  partition boot {
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
  }

  partition root0 {
    partition-type = 0x83
    image = "rootfs.squashfs"
    size = 256M
  }

  partition root1 {
    partition-type = 0x83
    size = 256M
  }

  partition overlay {
    partition-type = 0x83
    image = "overlay.ext4"
  }

  partition data {
    partition-type = 0x83
    image = "data.ext4"
  }
}
