CONFIG_ARCH_BCM283X=y
CONFIG_AEABI=y
CONFIG_ARM_OPTIMZED_STRING_FUNCTIONS=y
CONFIG_ARM_UNWIND=y
CONFIG_MMU=y
CONFIG_MALLOC_TLSF=y
CONFIG_KALLSYMS=y
CONFIG_CMD_OF_OVERLAY=y
CONFIG_CMD_FIX_BOOTARGS=y
# CONFIG_SPI is not set
CONFIG_MCI=y
CONFIG_MCI_BCM283X=y
# CONFIG_PINCTRL is not set
CONFIG_REGULATOR=y
