# CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE is not set
# CONFIG_PGTABLE_MAPPING is not set
# CONFIG_ZSWAP_COMPRESSOR_DEFAULT_LZO is not set
# CONFIG_ZSWAP_ZPOOL_DEFAULT_ZBUD is not set

CONFIG_LOCALVERSION="-haos-raspi"

CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y

CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
