# CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE is not set
# CONFIG_ZSWAP_COMPRESSOR_DEFAULT_LZO is not set
# CONFIG_ZSWAP_ZPOOL_DEFAULT_ZBUD is not set

CONFIG_LOCALVERSION="-haos-raspi"

CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y

# make sure all network drivers are built-in
# RPi 3B USB LAN drivers - 3B uses SMSC95XX, 3B+ uses LAN78XX
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y
CONFIG_USB_LAN78XX=y
CONFIG_USB_NET_SMSC95XX=y
# RPi 4 uses bcmgenet driver and BCM54213PE PHY
CONFIG_BCMGENET=y
CONFIG_BROADCOM_PHY=y
# RPi 5 uses Cadence driver and BCM54213PE PHY (above)
CONFIG_MACB=y

# do not use RPi in-tree driver, use one from BR package instead
# CONFIG_MEDIA_PCI_HAILO is not set
