# CONFIG_USB_STORAGE is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_FAT_INTERFACE is not set
# CONFIG_ENV_FAT_DEVICE_AND_PART is not set
# CONFIG_ENV_FAT_FILE is not set
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_EXPERT is not set
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_SYS_PROMPT="HassOS> "
CONFIG_DOS_PARTITION=y
# CONFIG_ISO_PARTITION is not set
# CONFIG_EFI_PARTITION is not set
CONFIG_FS_EXT4=y
CONFIG_CONSOLE_SCROLL_LINES=10
CONFIG_CMD_SETEXPR=y
CONFIG_USB=y
CONFIG_CMD_USB=y
CONFIG_DM_USB=y
CONFIG_CMD_FILEENV=y
