[Unit]
Description=Bluetooth for RTL8723
Before=bluetooth.service
After=dev-ttyS0.device

[Service]
Type=forking
ExecStart=/usr/sbin/bluetooth-rtl8723

[Install]
WantedBy=hassos-hardware.target
