[Unit]
Description=Systemd persistent logging
DefaultDependencies=no
Requires=mnt-overlay.mount systemd-journald.service
After=mnt-overlay.mount
Before=systemd-journald.service

[Mount]
What=/mnt/overlay/var/log/journal
Where=/var/log/journal
Type=None
Options=bind

[Install]
WantedBy=multi-user.target
