[Unit]
Description=Raspberry Pi bluetooth helper
Requires=hciuart.service bluetooth.service
After=hciuart.service
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bthelper %I
RemainAfterExit=yes
