[Unit]
Description=System Logging Service
Requires=syslog.socket

[Service]
EnvironmentFile=-/etc/default/syslogd
ExecStart=/sbin/syslogd -m 0 -F $SYSLOGD_ARGS
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=syslog.service
