# Home Assistant Operating System pull-request checks

name: PR checks

on: [pull_request]

jobs:
  linters:
    runs-on: ubuntu-22.04
    steps:
    - name: Install additional dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install \
          python3-flake8

    - name: Check out code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true

    - name: Check Dockerfile
      uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
      with:
        dockerfile: Dockerfile

    - name: Check shell scripts
      uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
      with:
        ignore_paths: buildroot

    - name: Check buildroot-external packages
      run: |
        buildroot/utils/check-package --exclude PackageHeader --exclude Upstream --br2-external buildroot-external/package/*/*
